.bg-container {
    position: absolute;
    top: 0;
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    max-width: 1440px;
    z-index: -99;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    overflow: hidden;
}

.bg-container li {
    position: relative;
    bottom: -40px;
    display: block;
    list-style: none;
    background-color: transparent;
    height: 40px;
    width: 40px;  
}

.mage li {
    background-image: url("./assets/bookAura.svg");
}

.warrior li {
    background-image: url("./assets/swordShield.svg");
}

.monk li {
    background-image: url("./assets/punchBlast.svg");
}

.ninja li {
    background-image: url("./assets/shuriken.svg");
}

.bg-container li {
    position: absolute;
    top: 80vh;
    left: 45vw;
    width: 10px;
    height: 10px;
    color: transparent;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: bganim 7s ease-in forwards infinite;
}

.bg-container li:nth-child(0) {
    animation-delay: 0s;
    left: 96vw;
    top: 74vh;
}

.bg-container li:nth-child(1) {
    animation-delay: 2s;
    left: 4vw;
    top: 49vh;
}

.bg-container li:nth-child(2) {
    animation-delay: 4s;
    left: 22vw;
    top: 6vh;
}

.bg-container li:nth-child(3) {
    animation-delay: 6s;
    left: 35vw;
    top: 91vh;
}

.bg-container li:nth-child(4) {
    animation-delay: 8s;
    left: 76vw;
    top: 66vh;
}

.bg-container li:nth-child(5) {
    animation-delay: 10s;
    left: 64vw;
    top: 18vh;
}

@keyframes bganim {
    0% {
        transform: scale(0) rotate(10deg) translate(-50%, -50%);
        opacity: 1;
    }

    50% {
        transform: scale(10) rotate(0deg);
        opacity: 0.5;
    }

    100% {
        transform: scale(20) rotate(-10deg) translate(-50%, -50%);
        opacity: 0;
    }
}
